In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
!apt-get update
!apt-get install g++ openjdk-8-jdk 
!pip3 install konlpy
import warnings 
warnings.filterwarnings('ignore')

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:13 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,675 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,693 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,104 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,110 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,340 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [857 kB]
Fetched 10.1 MB in 5s (1,898 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
g++ is already the newest version (4:7.4.0-1ubuntu2.3).
g++ set to manually installed.
The following additional packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin
  libgtk2.0-common libxxf86dga1 openjdk-8-jdk-headless openjdk-8-jre
  openjdk-8-jre-headless x11-utils
Suggested packages:
  gvfs openjdk-8-demo openjdk-8-source visualvm icedtea-8-plugin libnss-mdns
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic mesa-utils
The following NEW packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin
  libgtk2.0-common libxxf86dga1 openjdk-8-jdk openjdk-8-jdk-headless
  openjdk-8-jre openjdk-8-jre-headless x11-utils
0 upgraded, 15 newly installed, 0 to remove and 8 not upgraded.
Need to get 42.8 MB of archives.
After this operation, 160 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 libxxf86dga1 amd64 2:1.1.4-1 [13.7 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-dejavu-core all 2.37-1 [1,041 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-dejavu-extra all 2.37-1 [1,953 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 x11-utils amd64 7.7+3build1 [196 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libatk-wrapper-java all 0.33.3-20ubuntu0.1 [34.7 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libatk-wrapper-java-jni amd64 0.33.3-20ubuntu0.1 [28.3 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-common all 2.24.32-1ubuntu1 [125 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-0 amd64 2.24.32-1ubuntu1 [1,769 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgail18 amd64 2.24.32-1ubuntu1 [14.2 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgail-common amd64 2.24.32-1ubuntu1 [112 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-bin amd64 2.24.32-1ubuntu1 [7,536 B]
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jre-headless amd64 8u265-b01-0ubuntu2~18.04 [27.5 MB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jre amd64 8u265-b01-0ubuntu2~18.04 [69.6 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jdk-headless amd64 8u265-b01-0ubuntu2~18.04 [8,262 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jdk amd64 8u265-b01-0ubuntu2~18.04 [1,610 kB]
Fetched 42.8 MB in 5s (7,869 kB/s)
Selecting previously unselected package libxxf86dga1:amd64.
(Reading database ... 144617 files and directories currently installed.)
Preparing to unpack .../00-libxxf86dga1_2%3a1.1.4-1_amd64.deb ...
Unpacking libxxf86dga1:amd64 (2:1.1.4-1) ...
Selecting previously unselected package fonts-dejavu-core.
Preparing to unpack .../01-fonts-dejavu-core_2.37-1_all.deb ...
Unpacking fonts-dejavu-core (2.37-1) ...
Selecting previously unselected package fonts-dejavu-extra.
Preparing to unpack .../02-fonts-dejavu-extra_2.37-1_all.deb ...
Unpacking fonts-dejavu-extra (2.37-1) ...
Selecting previously unselected package x11-utils.
Preparing to unpack .../03-x11-utils_7.7+3build1_amd64.deb ...
Unpacking x11-utils (7.7+3build1) ...
Selecting previously unselected package libatk-wrapper-java.
Preparing to unpack .../04-libatk-wrapper-java_0.33.3-20ubuntu0.1_all.deb ...
Unpacking libatk-wrapper-java (0.33.3-20ubuntu0.1) ...
Selecting previously unselected package libatk-wrapper-java-jni:amd64.
Preparing to unpack .../05-libatk-wrapper-java-jni_0.33.3-20ubuntu0.1_amd64.deb ...
Unpacking libatk-wrapper-java-jni:amd64 (0.33.3-20ubuntu0.1) ...
Selecting previously unselected package libgtk2.0-common.
Preparing to unpack .../06-libgtk2.0-common_2.24.32-1ubuntu1_all.deb ...
Unpacking libgtk2.0-common (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgtk2.0-0:amd64.
Preparing to unpack .../07-libgtk2.0-0_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgtk2.0-0:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgail18:amd64.
Preparing to unpack .../08-libgail18_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgail18:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgail-common:amd64.
Preparing to unpack .../09-libgail-common_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgail-common:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgtk2.0-bin.
Preparing to unpack .../10-libgtk2.0-bin_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgtk2.0-bin (2.24.32-1ubuntu1) ...
Selecting previously unselected package openjdk-8-jre-headless:amd64.
Preparing to unpack .../11-openjdk-8-jre-headless_8u265-b01-0ubuntu2~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
Selecting previously unselected package openjdk-8-jre:amd64.
Preparing to unpack .../12-openjdk-8-jre_8u265-b01-0ubuntu2~18.04_amd64.deb ...
Unpacking openjdk-8-jre:amd64 (8u265-b01-0ubuntu2~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../13-openjdk-8-jdk-headless_8u265-b01-0ubuntu2~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
Selecting previously unselected package openjdk-8-jdk:amd64.
Preparing to unpack .../14-openjdk-8-jdk_8u265-b01-0ubuntu2~18.04_amd64.deb ...
Unpacking openjdk-8-jdk:amd64 (8u265-b01-0ubuntu2~18.04) ...
Setting up libgtk2.0-common (2.24.32-1ubuntu1) ...
Setting up fonts-dejavu-core (2.37-1) ...
Setting up libxxf86dga1:amd64 (2:1.1.4-1) ...
Setting up fonts-dejavu-extra (2.37-1) ...
Setting up openjdk-8-jre-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up libgtk2.0-0:amd64 (2.24.32-1ubuntu1) ...
Setting up libgail18:amd64 (2.24.32-1ubuntu1) ...
Setting up openjdk-8-jdk-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode
Setting up x11-utils (7.7+3build1) ...
Setting up libgail-common:amd64 (2.24.32-1ubuntu1) ...
Setting up libatk-wrapper-java (0.33.3-20ubuntu0.1) ...
Setting up libgtk2.0-bin (2.24.32-1ubuntu1) ...
Setting up libatk-wrapper-java-jni:amd64 (0.33.3-20ubuntu0.1) ...
Setting up openjdk-8-jre:amd64 (8u265-b01-0ubuntu2~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/policytool to provide /usr/bin/policytool (policytool) in auto mode
Setting up openjdk-8-jdk:amd64 (8u265-b01-0ubuntu2~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/appletviewer to provide /usr/bin/appletviewer (appletviewer) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jconsole to provide /usr/bin/jconsole (jconsole) in auto mode
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Collecting konlpy
  Downloading https://files.pythonhosted.org/packages/85/0e/f385566fec837c0b83f216b2da65db9997b35dd675e107752005b7d392b1/konlpy-0.5.2-py2.py3-none-any.whl (19.4MB)
     |████████████████████████████████| 19.4MB 1.3MB/s
Collecting tweepy>=3.7.0
  Downloading https://files.pythonhosted.org/packages/bb/7c/99d51f80f3b77b107ebae2634108717362c059a41384a1810d13e2429a81/tweepy-3.9.0-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.6/dist-packages (from konlpy) (1.18.5)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.6/dist-packages (from konlpy) (4.2.6)
Collecting JPype1>=0.7.0
  Downloading https://files.pythonhosted.org/packages/8b/f7/a368401e630f0e390dd0e62c39fb928e5b23741b53c2360ee7d376660927/JPype1-1.0.2-cp36-cp36m-manylinux2010_x86_64.whl (3.8MB)
     |████████████████████████████████| 3.8MB 44.6MB/s
Collecting colorama
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Collecting beautifulsoup4==4.6.0
  Downloading https://files.pythonhosted.org/packages/9e/d4/10f46e5cfac773e22707237bfcd51bbffeaf0a576b0a847ec7ab15bd7ace/beautifulsoup4-4.6.0-py3-none-any.whl (86kB)
     |████████████████████████████████| 92kB 10.8MB/s
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: typing-extensions; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from JPype1>=0.7.0->konlpy) (3.7.4.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)
Installing collected packages: tweepy, JPype1, colorama, beautifulsoup4, konlpy
  Found existing installation: tweepy 3.6.0
    Uninstalling tweepy-3.6.0:
      Successfully uninstalled tweepy-3.6.0
  Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed JPype1-1.0.2 beautifulsoup4-4.6.0 colorama-0.4.3 konlpy-0.5.2 tweepy-3.9.0

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt
plt.rc('font', family='Malgun Gothic')
import seaborn as sns
import numpy as np
import pandas as pd
import re
from gensim.models.word2vec import Word2Vec
from konlpy.tag import Kkma
kkma = Kkma()

In [ ]:
movie = pd.read_csv('/content/gdrive/My Drive/data/movies.csv')
movie.drop(['Unnamed: 0'], axis = 1, inplace=True)
movie.head(5)

      title  ...                                          imagelink
0  포드 V 페라리  ...  https://movie-phinf.pstatic.net/20191204_91/15...
1   감쪽같은 그녀  ...  https://movie-phinf.pstatic.net/20191204_6/157...
2       백두산  ...  https://movie-phinf.pstatic.net/20191219_263/1...
3        시동  ...  https://movie-phinf.pstatic.net/20200117_56/15...
4      블랙머니  ...  https://movie-phinf.pstatic.net/20191113_203/1...

[5 rows x 8 columns]

결측값 확인

In [ ]:
movie.isnull().sum()

title          0
genre          0
vote          77
vote_count     0
director       0
cast           0
summary        0
imagelink      0
dtype: int64

평점이 null인 행만 추출

In [ ]:
movie[movie['vote'].isnull()][:5]

           title  ...                                          imagelink
49          이터널스  ...  https://movie-phinf.pstatic.net/20190813_248/1...
63          미친사랑  ...  https://movie-phinf.pstatic.net/20190530_108/1...
67          아이언맨  ...  https://movie-phinf.pstatic.net/20111222_37/13...
70  헬보이 2: 골든 아미  ...  https://movie-phinf.pstatic.net/20111222_198/1...
74  해리 포터와 비밀의 방  ...  https://movie-phinf.pstatic.net/20111222_244/1...

[5 rows x 8 columns]

vote가 null인 값들을 직접 naver 영화에서 검색해보았다. 
아직까지 개봉하지 않은 영화이거나, 개봉했으나 관람객 평점이 존재하지 않는 경우이므로 추천하는데에 무의미한 데이터라 생각하고 drop 하여 삭제하는 것으로 결정하였다.

In [ ]:
movie = movie.dropna()
movie.isnull().sum()

title         0
genre         0
vote          0
vote_count    0
director      0
cast          0
summary       0
imagelink     0
dtype: int64

In [ ]:
movie.reset_index(inplace = True)
movie.drop(['index'], axis=1, inplace = True)

줄거리를 형태소 분리하여 띄워쓰기로 구분한다.

In [ ]:
include = ['NNG','NP','NNP','NNB','NN','NX','UM','NU','VV','VA','AJ','IC']

명사와 동사, 형용사만 포함될 수 있도록 하며 한 글자로 된 단어는 제외했다.

In [ ]:
movie['summary_processed'] = ''
for i in range(len(movie)):
  pos = kkma.pos(movie['summary'][i])
  res = set()
  for j in range(len(pos)):
    if pos[j][1] in include:
      if len(pos[j][0]) > 1:
        res.add(pos[j][0])
  movie['summary_processed'][i] = ' '.join(res)

movie.head(5)

      title  ...                                  summary_processed
0  포드 V 페라리  ...  우승자 맞추 펼치 절대적 시간 출전 입맛 불가능 자동차 레이서 이자 활로 타협 판매...
1   감쪽같은 그녀  ...  라이프 동생 외모 서로 시간 되어가 취향 순간 갓나 성격 벌이 나타나 못하 극인 즐...
2       백두산  ...  최대 접선 시간 서울 행동 자원 규모 운명 동석 작전 전역 남과 모르 펼쳐지 성공 ...
3        시동  ...  뛰어들 최대 적수 스파이크 만나 무섭 해인 동석 포스 공부 학교 택일 뛰쳐나가 거석...
4      블랙머니  ...  이름 해외 최대 프로 담당 서울 누명 헐값 문제 거대 내몰리 금융 마주하 근거 일명...

[5 rows x 9 columns]

vote를 평점만 남긴 데이터로 전처리한다.

In [ ]:
for i in range(len(movie)):
  vote = movie['vote'][i]
  movie['vote'][i] = float(vote[6:len(vote)-1])

movie.head(5)

      title  ...                                  summary_processed
0  포드 V 페라리  ...  우승자 맞추 펼치 절대적 시간 출전 입맛 불가능 자동차 레이서 이자 활로 타협 판매...
1   감쪽같은 그녀  ...  라이프 동생 외모 서로 시간 되어가 취향 순간 갓나 성격 벌이 나타나 못하 극인 즐...
2       백두산  ...  최대 접선 시간 서울 행동 자원 규모 운명 동석 작전 전역 남과 모르 펼쳐지 성공 ...
3        시동  ...  뛰어들 최대 적수 스파이크 만나 무섭 해인 동석 포스 공부 학교 택일 뛰쳐나가 거석...
4      블랙머니  ...  이름 해외 최대 프로 담당 서울 누명 헐값 문제 거대 내몰리 금융 마주하 근거 일명...

[5 rows x 9 columns]

vote_count 또한 int형으로 바꾸어준다..

In [ ]:
for i in range(len(movie)):
  if type(movie['vote_count'][i]) != int and ',' in movie['vote_count'][i]:
    a = list(movie['vote_count'][i])
    a.pop(a.index(','))
    a = ''.join(a)
    movie['vote_count'][i] = int(a)
  else:
    movie['vote_count'][i] = int(movie['vote_count'][i])

가중 평점 = (v/(v+m)) R + (m/(v+m)) \ C

* v: 개별 영화에 평점을 투표한 횟수
* m: 평점을 부여하기 위한 최소 투표 횟수
* R: 개별 영화에 대한 평균 평점
* C: 전체 영화에 대한 평균 평점


v 는 'vote_count' 값이며, R은 'vote_average' 값에 해당합니다. C의 경우 전체 영화의 평균 평점이므로 movies['ratings'].mean()으로 구할 수 있습니다.
m 의 경우는 투표 횟수에 따른 가중치를 직접 조절하는 역할을 하는데, m을 높이면 평점 투표 횟수가 많은 영화에 더 많은 가중 평점을 주게 됩니다.
여기서는 m을 상위 60% 해당하는 횟수를 기준으로 정하겠습니다.

In [ ]:
C = movie['vote'].mean()
m = movie['vote_count'].quantile(0.6)
print('C:',round(C,3),'m:',round(m,3))

C: 8.465 m: 312.4

In [ ]:
percentile = 0.6
C = movie['vote'].mean()
m = movie['vote_count'].quantile(0.6)

def weighted_vote_average(record):
  v = record['vote_count']
  R = record['vote']

  return ((v/(v+m)) * R) +( (m/(v+m)) * C)

movie['weighted_vote'] = movie.apply(weighted_vote_average, axis = 1)
movie.head(5)

      title  ... weighted_vote
0  포드 V 페라리  ...      9.125478
1   감쪽같은 그녀  ...      8.610960
2       백두산  ...      7.568992
3        시동  ...      8.647918
4      블랙머니  ...      8.674220

[5 rows x 10 columns]

* 가중 평점을 적용하지 않은 평점 순위 Top 10

In [ ]:
movie[['title','vote','weighted_vote','vote_count']].sort_values('vote', ascending=False)[:10]

             title vote  weighted_vote vote_count
101           러브 앳   10       8.479719          3
186        앨리스 죽이기   10       8.474884          2
262  체 게바라: 2부 게릴라   10       8.470017          1
224         집으로...   10       8.498758          7
273          쿵푸 보이   10       8.479719          3
194     발리: 천상의 울림   10       8.470017          1
287         너의 목소리   10       8.474884          2
260         퍼펙트 타겟   10       8.470017          1
191          물의 기억   10       8.479719          3
7            사선의 끝   10       8.474884          2

* 가중 평점을 적용한 Top 10

In [ ]:
movie[['title','vote','weighted_vote','vote_count']].sort_values('weighted_vote', ascending=False)[:10]

               title  vote  weighted_vote vote_count
326       어벤져스: 엔드게임   9.5       9.490055      32196
38          보헤미안 랩소디  9.45       9.427144      13149
34              그린 북  9.55       9.407861       2072
50               알라딘  9.42       9.386280       8534
37              가버나움  9.54       9.343216       1394
31        항거:유관순 이야기  9.39       9.254694       1823
231    스파이더맨: 뉴 유니버스  9.38       9.247214       1840
315           위대한 쇼맨  9.31       9.247133       3886
283  뽀로로 극장판 보물섬 대모험  9.35       9.223276       1869
217             극한직업   9.2       9.185950      16028

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer(min_df = 0, ngram_range=(1,2))
summ_mat = count_vect.fit_transform(movie['summary_processed'])
print(summ_mat.shape)

(334, 14748)

In [ ]:
summ_sim = cosine_similarity(summ_mat, summ_mat)
summ_sim_sorted_ind = summ_sim.argsort()[:,::-1] #유사도가 높은 순으로 정리된 summ_sim 객체의 비교 행 위치 값을 얻을 수 있습니다.

추출해냈던 `summary_processed`에 대해 코사인 유사도를 구하여 줄거리 키워드가 유사한 영화 상위 10개를 추천해보자

In [ ]:
def find_sim_movie(df, sorted_ind, title_name, top_n = 10):
    # 인자로 입력된 df에서 'title' 칼럼이 입력된 title_name 값인 데이터프레임 추출
    title_movie = df[df['title'] == title_name]

    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1) #1차원 array로 변경

    similar_indexes = similar_indexes[similar_indexes != title_index]

    return df.iloc[similar_indexes].sort_values('weighted_vote',ascending=False)[:top_n]

In [ ]:
movie[movie['title'] == '어벤져스: 엔드게임'][['title','vote','weighted_vote','summary_processed']]

          title  ...                             summary_processed
326  어벤져스: 엔드게임  ...  희망 위대 지구 떠나 이후 전쟁 살아남 마지막 최후 운명 바꾸 절반 위하 펼쳐지

[1 rows x 4 columns]

In [ ]:
similar_movies = find_sim_movie(movie, summ_sim_sorted_ind, '어벤져스: 엔드게임', 10)
similar_movies[['title','vote','weighted_vote','summary_processed']]

                title  ...                                  summary_processed
59           토이 스토리 4  ...  여행 새롭 사라지 친구 위험천만 장난감 떠나 버즈 만나 우리 거부 끝나 운명 나서 ...
297               언더독  ...  적응 라이프 찰나 무리 떠나 만나 댕댕이 운명 고참 자유 꿈꾸 구하 뭉치 위하 역전...
293      드래곤볼 슈퍼: 브로리  ...  전투 무기력 운명 뛰어넘 시도 나타나 처절 대회 엄청나 돌아오 되찾 오공 상상 최후...
240            다크 나이트  ...  반장 펼치 고담 운명 작전 조직 내던지 악당 준비 제거 어리 조커 지키 최후 매이 ...
158       존 윅 3: 파라벨룸  ...  모든 국제 파문 총구 출구 킬러 베리 준비 보호 내려지 찾아가 전설 위하 시시각각 ...
254               아일라  ...  이름 칠흑 아이 서로 명령 이야기 포화 운명 발견 감동 실화 한국 부모 존재 감행 ...
327      터미네이터 2:오리지널  ...  인간 코너 없애 미래 운명 과거 어리 스카이 지키 로봇 위하 시작하 가쁘 사령관 금...
328           터미네이터 2  ...  인간 코너 없애 미래 운명 과거 어리 스카이 지키 로봇 위하 시작하 가쁘 사령관 금...
278  안녕, 티라노: 영원히, 함께  ...  펼쳐지 이제 사랑 천국 니야 약속 희망 아프 떠나 관하 이야기 비밀 우정 간직 가슴 혼자
261   체 게바라: 1부 아르헨티나  ...  펼치 문인 점령 민중 작전 고통 최후 감행 게릴라 군부 위하 카스트 독재 마지막 아...

[10 rows x 4 columns]

In [ ]:
movie[movie['title'] == '보헤미안 랩소디'][['title','vote','weighted_vote','summary_processed']]

       title  ...                                  summary_processed
38  보헤미안 랩소디  ...  이름 시간 몰르 월드 일하 동안 이야기 퍼포먼스 우리 수하물 노동자 스타 독창적 외...

[1 rows x 4 columns]

In [ ]:
similar_movies = find_sim_movie(movie, summ_sim_sorted_ind, '보헤미안 랩소디', 10)
similar_movies[['title','vote','weighted_vote','summary_processed']]

                       title  ...                                  summary_processed
231            스파이더맨: 뉴 유니버스  ...  평행 피터 모든 열리 결성 유니 만나 우리 스파이 마주치 가지 누아르 악당 물리 방...
182           브링 더 소울 : 더 무비  ...  시간 서울 소년단 이야기 둘르 뒤풀이 방탄 펼쳐지 풀어지 전세계 콘서트 끝나 열광 ...
272                  너의 이름은.  ...  이름 흘러가 서로 시간 되어가 다가오 만나 우리 운명 혜성 메모 이상 뒤바뀌 낯설 ...
133               마이펫의 이중생활2  ...  사랑 라이프 생각 우리 영혼 집구석 시크 로이 완벽 모르 고프 자유 걱정 편하 스노...
145                      범블비  ...  이름 인간 목격 서로 되어가 비의 이야기 자동차 발견 거대 가지 몰리 모르 광경 프...
202                     위로공단  ...  이름 신음 담기 마니 오늘날 일하 이야기 여정 우리 오늘 독창적 과거 변모 감정 어...
67                   왕이 될 아이  ...  엑스 미래 루이스 스튜 발견 포스 학교 레베카 나타나 마법사 절대악 꽂히 군단 바위...
269  신비아파트 극장판 하늘도깨비 대 요르문간드  ...  떠나 파괴 왕국 순간 거세 바닷속 발견 마사 비행기 남매 여행 겨울 하늘 깨비 합류...
254                      아일라  ...  이름 칠흑 아이 서로 명령 이야기 포화 운명 발견 감동 실화 한국 부모 존재 감행 ...
21                       로켓맨  ...  사랑 뒤흔들 상처 배신 순간 발매 퍼포먼스 독보적 대하 자리잡 노래 연잇 아이콘 진...

[10 rows x 4 columns]

줄거리에 나타나는 키워드 유사도를 바탕으로 추천해보았을 때엔 `나름대로..` 비슷한 키워드가 포함된 영화들이 추천되는 것 같다. 물론 엄청난 관련은 없어보이지만... 

이제는 좀 더 세부적인 조건을 추가해보려고 한다.
* 장르가 같으면 가산점
* 감독이 같으면 가산점
* 출연하는 배우가 같으면 가산점

---

### 장르가 같으면 가산점
장르는 기본적으로 포함하여 줄거리 유사도와 장르의 일치여부를 판단하여 추천해보려고 한다. 

### 감독, 출연하는 배우가 같으면 가산점
이 부분은 `선택`으로 줄 생각이다. 만약 입력되지 않는다면 장르와 줄거리 유사도를 기반으로 10가지 영화를 추천하는 반면에, 감독이나 배우가 입력된다면 유사도의 우선순위를 `장르 > 감독 or 배우 > 줄거리유사도` 순으로 주고, 입력되지 않는다면 유사도 우선순위를 `장르 > 줄거리유사도` 순으로 준다.


이는 해당 영화를 좋아한다고 해서 그 영화의 `감독`을 좋아하진 않는다는 가정을 바탕으로 진행하며 `배우` 또한 마찬가지이다.

앞서 구현했던 find_sim_movie를 장르를 포함할 수 있도록 수정해보자.
대신, 동일한 장르의 영화만 10가지 모두 추천되지 않도록 같은 장르의 영화는 50% 추천될 수 있도록 해보자.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
def get_similarity(df):
  count_vect = CountVectorizer(min_df = 0, ngram_range=(1,2))
  mat = count_vect.fit_transform(df['summary_processed'])

  sim = cosine_similarity(mat, mat)
  sim_sorted_ind = sim.argsort()[:,::-1]
  return mat, sim, sim_sorted_ind

In [ ]:
summ_mat, summ_sim, summ_sim_sorted_ind = get_similarity(movie)

1. 장르가 일치하는 것에서 줄거리 유사도를 산충해서 높은 것 5가지를 뽑는다.
2. 줄거리 유사도가 일치하는 것들 중 1과 겹치지 않는 것을 추가한다.

In [ ]:
def find_sim_movie(df, summ_sorted_ind, title_name, top_n = 10):
    # 인자로 입력된 df에서 'title' 칼럼이 입력된 title_name 값인 데이터프레임 추출
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values

    #먼저, 장르가 일치하는 것들에 대한 dataframe을 구한다.
    genre = df[df['title'] == title_name]['genre']
    genre_name = genre.values[0]

    print("추천 기준 영화 정보")
    print(df[df['title'] == title_name][['title','genre','summary_processed']])

    genre_df = df[df['genre'] == genre_name]
    genre_df.reset_index(inplace = True)
    genre_df.drop(['index'], axis=1, inplace = True)
    
    g_mat, g_sim, g_sim_sorted_ind = get_similarity(genre_df)
    g_title_movie = genre_df[genre_df['title'] == title_name]
    g_title_index = g_title_movie.index.values
    g_similar_indexes = g_sim_sorted_ind[g_title_index, :(top_n)]
    g_similar_indexes = g_similar_indexes.reshape(-1)
    g_similar_indexes = g_similar_indexes[g_similar_indexes != g_title_index]
    g = genre_df.iloc[g_similar_indexes].sort_values('weighted_vote',ascending=False)[:top_n//2]

# /    줄거리가 유사한 것들에 대해 다시 진행
    similar_indexes = summ_sorted_ind[title_index, :(top_n)]
    similar_indexes = similar_indexes.reshape(-1) #1차원 array로 변경
    similar_indexes = similar_indexes[similar_indexes != title_index]
    s = df.iloc[similar_indexes].sort_values('weighted_vote',ascending=False)[:top_n//2]

    # 혹시 모를 후보군
    candidate = df.iloc[similar_indexes].sort_values('weighted_vote',ascending=False)[:top_n//2]

    result = pd.concat([g, s])
    result = result.sort_values('weighted_vote', ascending=False)
    result.reset_index(inplace = True)
    result.drop(['index'],axis=1,inplace=True)
    result = result.drop_duplicates(['title'], keep='first') #중복 제거

    if len(result) < 10: #열개보다 적은 경우
      result = pd.concat([result, candidate]) #후보군과 먼저 합친다.
      result = result.drop_duplicates(['title'], keep='first') #다시 중복을 제거하고
      result = result[:top_n] #열개만큼 잘라낸 뒤,
      result = result.sort_values('weighted_vote',ascending=False) #다시 별점 순으로 변경
    return result

In [ ]:
similar_movies = find_sim_movie(movie, summ_sim_sorted_ind, '어벤져스: 엔드게임', 10)
similar_movies[['title','vote','weighted_vote','genre','summary_processed']]

추천 기준 영화 정보
          title genre                             summary_processed
326  어벤져스: 엔드게임    액션  희망 위대 지구 떠나 이후 전쟁 살아남 마지막 최후 운명 바꾸 절반 위하 펼쳐지

              title  ...                                  summary_processed
0          토이 스토리 4  ...  여행 새롭 사라지 친구 위험천만 장난감 떠나 버즈 만나 우리 거부 끝나 운명 나서 ...
1      어벤져스: 인피니티 워  ...   펼쳐지 최강 목격 조합 역대 걸리 스톤 세계 무한 운명 향하 대결 마블 클라이맥스 이루
2      드래곤볼 슈퍼: 브로리  ...  전투 무기력 운명 뛰어넘 시도 나타나 처절 대회 엄청나 돌아오 되찾 오공 상상 최후...
3            다크 나이트  ...  반장 펼치 고담 운명 작전 조직 내던지 악당 준비 제거 어리 조커 지키 최후 매이 ...
5       존 윅 3: 파라벨룸  ...  모든 국제 파문 총구 출구 킬러 베리 준비 보호 내려지 찾아가 전설 위하 시시각각 ...
6               아일라  ...  이름 칠흑 아이 서로 명령 이야기 포화 운명 발견 감동 실화 한국 부모 존재 감행 ...
7  안녕, 티라노: 영원히, 함께  ...  펼쳐지 이제 사랑 천국 니야 약속 희망 아프 떠나 관하 이야기 비밀 우정 간직 가슴 혼자
8             캡틴 마블  ...  살아가 희망 위협 크리 요원 사무엘 발견 감지 공군 합치 캐럴 버스 위기 불시착 빠...
9                안나  ...  킬러 모든 코어 위협 루스 제거 하드 시작 미션 마지막 살아남 액션 모델 파리 위하 위장

[9 rows x 5 columns]

In [ ]:
similar_movies = find_sim_movie(movie, summ_sim_sorted_ind, '보헤미안 랩소디', 10)
similar_movies[['title','vote','weighted_vote','genre','summary_processed']]

추천 기준 영화 정보
       title genre                                  summary_processed
38  보헤미안 랩소디   드라마  이름 시간 몰르 월드 일하 동안 이야기 퍼포먼스 우리 수하물 노동자 스타 독창적 외...

                     title  ...                                  summary_processed
0            스파이더맨: 뉴 유니버스  ...  평행 피터 모든 열리 결성 유니 만나 우리 스파이 마주치 가지 누아르 악당 물리 방...
1                  너의 이름은.  ...  이름 흘러가 서로 시간 되어가 다가오 만나 우리 운명 혜성 메모 이상 뒤바뀌 낯설 ...
2                       생일  ...  아들 살아가 서로 떠나 이야기 만나 우리 생일 간직 돌아오 가족 남기 정일 특별 이...
3                     위로공단  ...  이름 신음 담기 마니 오늘날 일하 이야기 여정 우리 오늘 독창적 과거 변모 감정 어...
4  신비아파트 극장판 하늘도깨비 대 요르문간드  ...  떠나 파괴 왕국 순간 거세 바닷속 발견 마사 비행기 남매 여행 겨울 하늘 깨비 합류...
5                      아일라  ...  이름 칠흑 아이 서로 명령 이야기 포화 운명 발견 감동 실화 한국 부모 존재 감행 ...
6                      로켓맨  ...  사랑 뒤흔들 상처 배신 순간 발매 퍼포먼스 독보적 대하 자리잡 노래 연잇 아이콘 진...
8                  쉰들러 리스트  ...  적히 인건비 서서 그곳 독일 도시 이자 점령 방법 독일인 나치 용기 기회 폴란드 회...
9                      미성년  ...  관심 어떻 동안 이야기 만나 폭풍 주리 수습 소진 학교 모르 엄청나 불러오 아빠 미...

[9 rows x 5 columns]

In [ ]:
similar_movies = find_sim_movie(movie, summ_sim_sorted_ind, '알라딘', 10)
similar_movies[['title','vote','weighted_vote','genre','summary_processed']]

추천 기준 영화 정보
   title genre                                  summary_processed
50   알라딘    모험  소원 사막 아그라 생각 왕국 만나 가지 마법사 들어주 자파 좀도둑 마음 의뢰 자스민...

                title  ...                                  summary_processed
0            토이 스토리 4  ...  여행 새롭 사라지 친구 위험천만 장난감 떠나 버즈 만나 우리 거부 끝나 운명 나서 ...
1                레드슈즈  ...  이전 끊이 난쟁이 신고 희망 생각 왕국 운명 아름다움 구두 완벽 초록색 머물 사고 ...
2              겨울왕국 2  ...  두려워하 스토프 위협 떠나 왕국 만나 운명 과거 목소리 알려주 나가 진실 조언 누구...
3             왕이 될 아이  ...  엑스 미래 루이스 스튜 발견 포스 학교 레베카 나타나 마법사 절대악 꽂히 군단 바위...
4               라이온 킹  ...  희망 죽음 날르 떠나 왕국 어린 만나 대하 삼촌 과거 마주하 용기 의욕 야심 되찾 ...
5               시인 할매  ...  박사 이름 소원 모질 세월 시집살이 전부 할매 위로 만나 가족 만이 서럽 석자 배우...
6                 위시업  ...  일은 소원 시기 모든 음색 운동 순간 방법 발견 스타 노래 나타나 니르 즐기 들어주...
7               필그리미지  ...  위협 한창 십자군 로마 노리 가지 벙어리 나타나 수도사 이르 지키 내고 수도원 위하...
8  신비한 동물들과 그린델왈드의 범죄  ...  장담 운명 활약 야욕 알버스 마법사 순혈 세력 레드 합중국 모으 위하 탈출 분열 사...

[9 rows x 5 columns]

### 감독명과 배우명 추가하기

* 감독만 입력으로 들어오는 경우  
`감장줄 5 감장 3 감줄 2 감 1`
* 배우만 입력으로 들어오는 경우  
`배장줄 5 배장2 배줄 2 배 1`
* 감독 & 배우가 입력으로 들어오는 경우  
`감배장줄 5 감배장 2 감배줄2 감배1`   
  * 만약, 감독&배우가 겹치는 영화가 5개 미만인 경우  
  `감장줄2, 배장줄2 > 감배장2 없으면 감장 + 배장 2> 감배줄유 2 없으면 감줄 + 배줄 2 > 감배 2`

In [ ]:
movie.head(5)

      title  ... weighted_vote
0  포드 V 페라리  ...      9.125478
1   감쪽같은 그녀  ...      8.610960
2       백두산  ...      7.568992
3        시동  ...      8.647918
4      블랙머니  ...      8.674220

[5 rows x 10 columns]

In [ ]:
# 감독, 배우가 일치하는 것들에 대한 dataframe을 뽑기
director_name = '봉준호'

# 감독이 일치하는 데이터프레임
director = movie[movie['director'] == director_name]
director.head()

      title  ... weighted_vote
16      기생충  ...      9.047027
245  살인의 추억  ...      8.526270
246      마더  ...      8.498619

[3 rows x 10 columns]

In [ ]:
cast_name = '마동석'

indexes = []
for i in range(len(movie)):
  if cast_name in movie['cast'][i]:
    indexes.append(i)

cast = movie.iloc[indexes]
cast.head()

            title  ... weighted_vote
2             백두산  ...      7.568992
3              시동  ...      8.647918
303  나쁜 녀석들: 더 무비  ...      8.200991
304          성난황소  ...      8.639566
306           악인전  ...      8.539022

[5 rows x 10 columns]